<div>
    {%extends "app_python/clientes.html"%}
    {% load static %}
    
    {% block addcliente %}
        <h2>Crear cliente</h2>
        <form action="/app_python/addcliente " method="post"> {% csrf_token %}

            <input placeholder="Nombre" type = "text" name="nombre_cliente" required>
            <input placeholder="Apellido" type = "text" name="apellido_cliente" required>
            <input placeholder="Dirección" type = "text" name="direccion_cliente" required>
            <input placeholder="Telefono Celular" type = "text" name="telefono_cliente" required>

            <input type = "submit" value="Enviar">
        </form>
        
    {% endblock %}    
</div>